label{
    display: flex;
    flex-direction: column;
    
}
span{
margin-left: 4.2rem;
font-weight: bold;
color: whitesmoke;
margin-top: .5rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input{
    max-width: 200px;
    margin: auto;
}
body{
    background-image: url(../media/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
   
   
}
form{
    border: 3px solid grey;
    max-width: 300px;
    height: 350px;
    backdrop-filter: blur(.5rem);
    padding: 2rem;
    margin: 10rem auto;
}
.btn{
 margin-left: 7rem;
 margin-top: 2rem;
}
.h1{
 color: whitesmoke;

 font-size: 3rem;

}
.file{
    margin-left: 4rem;
    color:whitesmoke;
    margin-top: .7rem;
}
