label{
    display: flex;
    flex-direction: column;
    
}
span{
margin-left: 4.2rem;
font-weight: bold;
color: whitesmoke;
margin-top: .5rem;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
input{
    max-width: 200px;
    margin: auto;
}
body{
    background-image: url(../media/background2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
   
   
   
}
form{
    border: 3px solid grey;
    max-width: 300px;
    height: 450px;
    backdrop-filter: blur(.5rem);
    padding: 1rem;
    margin: 10rem auto;
}
.btn{
 margin-left: 7rem;
 margin-top: 2rem;
}
.h1{
 color: whitesmoke;

 font-size: 3rem;

}

button{
    margin-bottom: 1rem;
    font-weight: bold;
    margin-left: 2rem;
}
.noAccount{
    display: flex;
    flex-direction: column;
}
.register{
    text-decoration: none;
    color: black;
    font-weight: bold;  
}
.noAccount1{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 1rem;
}
.register1{
    text-decoration: none;
    color: black;
    font-weight: bold;  
}
.file{
    margin-left: 4.1rem;
    color: whitesmoke;
}
.error{
    color: whitesmoke;
    font-weight: bold;
   
}
h1{
    color: red;
    text-align: center;
}
.login-error{
    border: 3px solid grey;
    color: red;
    font-size: 3rem;
    text-align: center;
    backdrop-filter: blur(1.5rem);
    padding: 1rem;

}
.colorLink{
    color: whitesmoke;
    font-weight: bold;
}
a:hover{
    .colorLink{
        color: black;
        font-weight: bold;
    };
background-color: whitesmoke;
font-weight: bold;
border-radius: 10px;
box-shadow: 4px 4px 5px grey;
}